@font-face {
    font-family: myFont;
    src: url(/assets/fonts/bar.otf);

}


.carousel-item::before{

    content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: #000;
   opacity: 0.7;
   }

p{
    font-size: large
}

h2{

    position: relative;
    left: 10%;
    top: 3in;
    font-weight: bolder;
    font-family: myFont;
}

.logo{

    position: relative;
    left: 11in;
    bottom:60px;
}








.pic1{

    position: relative;
    left: 2in;
    top: 5in;
}

.pic2{
    position: relative;
    left: 8in;
    top: -20px;

}

.pic3{
    position: relative;
    left: 14in;
    top: -520px;

}

.pic4{
    position: relative;
    left: 1in;
    top: -450px;

}

.pic5{
    position: relative;
    left: 9in;
    top: -410px;

}

.pic6{
    position: relative;
    left:1in;
    top: -1000px;

}

.pic7{
    position: relative;
    left: 12in;
    top: -2100px;

}

.Contacts{

    position: relative;
    text-align: center;
    background-color: #1a1a1a;
    color: azure;
    border: 1px;
    height: 1000px;
    width: 100%;
    bottom: 10in;
}
